/*
gcard is a Card with Gallery

gcard:
|--------------------------------------------|
| gcard-image-container | gcard-title        |
|                       | gcard-description  |
|--------------------------------------------|
| gcard-additional-description               |
|  |---------------------------------------| |
|  | gcard-gallery-thumbnail-container     | |
|  |---------------------------------------| |
----------------------------------------------

gcard-gallery-overlay:
|------------------------------|
|  |-------------------------| |
|  | gcard-gallery-close-btn | |
|  |-------------------------| |
|  |--------------------|      |
|  | gcard-gallery-grid |      |
|  |--------------------|      |
|------------------------------|
*/

/* Card part */
.gcard {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}
.gcard:hover {
    transform: scale(1.05); /* Slightly scale the card */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}
.gcard-row {
    display: flex;
    padding: 0 15px;
}
.gcard-column {
    flex: 1; /* Equal width for both columns */
    padding: 0 10px;
}
.gcard-image-container {
    width: 100%;
    aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio */
    overflow: hidden;
    border-radius: 5px; /* Optional */
}
.gcard-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container */
}
.gcard-title {
    font-size: 1.5em;
    margin: 0;
}
.gcard-title p {
    margin: 0 0 0 !important;
}
.gcard-description {
    color: #555;
    margin: 5px 0;
}
.gcard-description p {
    margin: 0 0 0 !important;
}
.gcard-additional-description {
    padding: 10px 20px; /* Space around additional description */
    color: #777;
    font-size: 0.9em;
}

/* Gallery Part */
.gcard-gallery-thumbnail-container {
	display: flex;
	justify-content: left;
	/* margin-bottom: 20px; */
	/* padding: 0px 20px; */
}
.gcard-gallery-thumbnail {
    width: 20%;
    margin: 0 5px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    /* border: 2px solid #ccc; */
    transition: transform 0.3s;
}
.gcard-gallery-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resizes from full image */
}
.gcard-gallery-thumbnail:hover {
    transform: scale(1.05);
}
/* Show only the first 5 thumbnails */
.gcard-gallery-thumbnail:nth-child(n+6) { display: none; }

.gcard-gallery-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.5s;
}
.gcard-gallery-overlay.active {
    display: flex;
}
.gcard-gallery-overlay-content {
    background: white;
    border-radius: 12px;
    border: 4px solid black;
    padding: 20px;
    width: 80%;
    max-height: 80vh;
    overflow: auto;
}
.gcard-gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26%, 1fr));
    gap: 10px;
}
.gcard-gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.gcard-gallery-description {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.gcard-gallery-close-btn {
    position: absolute;
    top: 5vh; right: 2vw;
    font-size: 6vw; color: black;
    background: none; border: none; cursor: pointer;
    z-index: 1001;
}