/* Wrapping around card */
.gcard-index-anchor {
  text-decoration: none; /* Strip the blue underline from the links that wrap the card */
  display: block; /* The link expands to fill the entire parent container, making the whole card clickable */
  color: #111;
}

.gcard-index-anchor:hover {
  text-decoration: none;
  color: #111;
}

/* The card itself */
.gcard {
  margin-bottom: 2em;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.gcard:hover,
.gcard:focus,
.gcard:active {
  box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb,
              0px 4px 0px #b9b9b9, 0px 6px 0px rgba(0, 0, 0, 0.1),
              0px 1px 0px rgba(0, 0, 0, 0.3), 0px 3px 0px rgba(0, 0, 0, 0.2),
              0px 5px 0px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.1),
              0 8px 7px rgba(0, 0, 0, 0.1), 0 9px 9px rgba(0, 0, 0, 0.1),
              0 10px 10px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.16);
  transform: translateY(-5px);
}

.gcard .image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.gcard-title {
  margin-top: 0;
}

.gcard-descr {
  font-size: .75em;
  margin-top: .83em;
  margin-bottom: .83em;
}
