/* Override Minimal Mistakes */
.sidebar .author__bio {
  font-size: 0.8em;
}
.sidebar .author__content {
  padding-inline: 15px 15px;
}

/* Override glightbox */
.glightbox-clean .gprev {
    top: 45%;
	left: 10px;
	width: 20px;
}
.glightbox-clean .gnext {
    top: 45%;
	right: 10px;
	width: 20px;
}
.glightbox-clean .gprev, .glightbox-clean .gnext {
	background-color: rgba(0, 0, 0, 0.25);
}
.gnext svg, .gprev svg {
	width: 15px;
}

/* New layout that needs to overwides some existing MM styling */
.layout--full-width-tile .page__hero {
  margin-bottom: 0 !important;
}
.layout--full-width-tile .page__footer {
  margin-top: 0 !important;
}
.layout--full-width-tile #main {
  max-width: 100%;
  padding-inline: 0;
}

@media (min-width: 769px) {
  .glightbox-clean .gprev {
  	left: 30px;
  	width: 40px;
  }
  .glightbox-clean .gnext {
  	right: 30px;
  	width: 40px;
  }
  .glightbox-clean .gprev, .glightbox-clean .gnext {
  	background-color: rgba(0, 0, 0, 0.32);
  }
  .gnext svg, .gprev svg {
  	width: 25px;
  }
}

/* Right image on header banner */
.page__hero-right-image {
  position: absolute;
  top: 0;
  right: 20%;
  height: 100%;
  width: auto;
  object-fit: contain;
  /* Lower z-index to stay behind the text (which has z-index: 2) */
  z-index: 1;
  /* Critical: prevents the image from blocking clicks on links/text */
  pointer-events: none;
  /* Optional: add a slight transparency so text pops even more */
  opacity: 0.8;
}

/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF !important;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    background-color: #128c7e;
  }
}

.whatsapp-text {
  font-size: .75em;
  line-height: 1.2;
  margin-right: .5em;
  text-align: right;
  font-weight: bold;

}

.whatsapp-icon {
  font-size: 1em;
}

/* Hide text on very small phones to keep the UI clean */
@media (max-width: 480px) {
  .whatsapp-text {
    /* display: none; */
  }
  /* .whatsapp-float {
    padding: 15px;
    border-radius: 50%;
  } */
}
