---
layout: default
---

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">

      <!-- Cover Banner -->
      <section class="tilesrow">
        <div class="tilesrow-tile" style="background-image: url('/assets/images/banner/home.jpg');">
        </div>
      </section>

      <!-- Connect on WhatsApp -->
      <section class="tilesrow">
        <div class="tilesrow-tile homepage-bg-pattern-web" style="height:75vh;">
          <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; height: 100%; color: white;">
            <span class="homepage-message">
              一對一骨骼肌肉評估<br>
              結合實證醫學治療<br>
              修復您的疼痛根源
            </span>
            <a href="https://wa.me/63578708" class="btn btn--light-outline btn--large" style="margin: 30px;" rel="noopener" target="_blank">
              WhatsApp 查詢
            </a>
            <a class="d-none d-md-flex" href="https://wa.me/63578708" style="min-height: 0; display: flex; align-items: center;" rel="noopener" target="_blank">
              <img src="/assets/images/qr_code/qr_whatsapp.png" style="max-height: 100%; width: auto; object-fit: contain; max-width:150px"/>
            </a>
          </div>
        </div>
      </section>

      <!-- Check out latest -->
      <section class="tilesrow">
        <div class="tilesrow-tile homepage-bg-pattern-shapes" style="height:50vh;">
          <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; height: 100%; color: black;">
            <span class="homepage-message">
              最新消息<br>
              痛症、檢查、運動知識<br>
              物理治療師解說示範影片
            </span>
            <a href="#latest" class="blink-arrow" style="margin: 30px;">
              <div class="blink-arrow-container">
                <i class="fas fa-chevron-down blink-arrow-delay-1"></i>
                <i class="fas fa-chevron-down blink-arrow-delay-2"></i>
                <i class="fas fa-chevron-down blink-arrow-delay-3"></i>
              </div>
            </a>
          </div>
        </div>
      </section>

      <!-- News + Latest Articles + Latest YouTube -->
      <section id="latest" class="bento-grid-container homepage-bg-pattern-shapes">
        <div class="bento-grid">

          <!-- News -->
          <div class="bento-grid-tile bento-grid-vspan" style="--vspan:3;">
            <span class="bento-grid-tile-label">最新消息</span>
            <div class="bento-grid-scroll-box">
              {% if page.news %}
                {% for item in page.news %}
                  <div class="bento-grid-item-row">
                    {% if item.date %}<strong>{{ item.date }}</strong><br>{% endif %}
                    {{ item.text }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <!-- Lastest Articles -->
          <div class="bento-grid-tile bento-grid-hspan" style="--hspan:3;">
            <div class="bento-grid-post-container">
              {% for post in site.posts limit:3 %}
                <div class="bento-grid-post">
                  <small class="bento-grid-post-date">{{ post.date | date: "%Y年%m月%d日" }}</small>
                  <h4 class="bento-grid-post-title">
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  </h4>
                  <div class="bento-grid-post-excerpt">{{ post.excerpt | strip_html | truncate: 80 }}</div>
                </div>
              {% endfor %}
            </div>
            <!-- All Articles Link -->
            <a href="{{ '/blog' | relative_url }}" class="bento-grid-all-articles">
              全部文章 <i class="fas fa-arrow-right"></i>
            </a>
          </div>

          <!-- Latest YouTube -->
          <div class="bento-grid-tile bento-grid-hspan bento-grid-vspan" style="--vspan:2;--hspan:3;">
            <div class="bento-grid-video-wrapper">
              <iframe src="https://www.youtube.com/embed?1istType=playlist&list=UU-XCTx5zZriu7Gu-jb92gIA"></iframe>
            </div>
            <!-- YouTube Channel Link -->
            <a href="https://www.youtube.com/@物理治療師邱忠榮" class="bento-grid-all-articles" rel="noopener" target="_blank">
              <i class="fab fa-youtube" aria-hidden="true"></i> YouTube 頻道 <i class="fas fa-arrow-right"></i>
            </a>
          </div>

        </div>
      </section>

      <!-- Website Menu -->
      <section class="tilesrow">
        <div class="tilesrow-tile" style="background-image: url('/assets/images/home/about.jpg');">
          <a class="tilesrow-tile-url" href="/about/"></a>
          <div class="tilesrow-tile-overlay" style="--bg-color: rgba(32, 32, 32, 0.);"></div>
          <div class="tilesrow-tile-title" style="color: #ffffff;">
            簡介
          </div>
        </div>
        <div class="tilesrow-tile" style="background-image: url('/assets/images/home/contact.jpg');">
          <a class="tilesrow-tile-url" href="/contact/"></a>
          <div class="tilesrow-tile-overlay" style="--bg-color: rgba(20, 100, 20, 0.9);"></div>
          <div class="tilesrow-tile-title" style="color: #ffffff;--bg-color: rgba(20, 100, 20, 0.9);">
            中心位置
          </div>
        </div>
        <div class="tilesrow-tile" style="background-image: url('/assets/images/home/therapy.jpg');">
          <a class="tilesrow-tile-url" href="/therapy/"></a>
          <div class="tilesrow-tile-overlay" style="--bg-color: rgba(170, 60, 30, 0.9);"></div>
          <div class="tilesrow-tile-title" style="color: #ffffff;--bg-color: rgba(170, 60, 30, 0.9);">
            物理治療流程
          </div>
        </div>
        <div class="tilesrow-tile" style="background-image: url('/assets/images/home/treatment.jpg');">
          <a class="tilesrow-tile-url" href="/treatment/"></a>
          <div class="tilesrow-tile-overlay" style="--bg-color: rgba(30, 80, 130, 0.9);"></div>
          <div class="tilesrow-tile-title" style="color: #ffffff;--bg-color: rgba(30, 80, 130, 0.9);">
            物理治療項目
          </div>
        </div>
        <div class="tilesrow-tile" style="background-image: url('/assets/images/home/blog.jpg');">
          <a class="tilesrow-tile-url" href="/blog/"></a>
          <div class="tilesrow-tile-overlay" style="--bg-color: rgba(30, 30, 30, 0.9);"></div>
          <div class="tilesrow-tile-title" style="color: #ffffff;--bg-color: rgba(30, 30, 30, 0.9);">
            健康資訊
          </div>
        </div>
      </section>
    </section>
  </article>
</div>

<script src="/assets/js/tilesrow.js"></script>